#siteName {
    font-size: 130%;
    color: #ff66a3;
    padding: 0.5%;
    margin-top: 5%;
    margin-left: 2%;
}


.navBarButton {
    font-size: 130%;
    color: #ff086b;
    font-family: "Calibri", monospace;

}

#homeButton { 
    position: relative; /*Position of text relative to default position */
    left: 60%;
    margin-top: -8%;    
}

#playlists {
    position: relative; /*Position of text relative to default position */
    margin-left: 72%;
    margin-top: -5.4%;
    
}




hr {
    color: #ff66a3;
    margin-left: 2%;
}